<div class="post-chip">
  <div class="post-chip-header">
    <div class="post-chip-date">{{post.date}}</div>
    <div class="post-chip-title">{{post.title}}</div>
    <div class="post-chip-author">{{post.author}}</div>
  </div>
  <div class="post-chip-content">
    {{post.content}}
  </div>
</div>
<hr />
